body {
    background-color: ghostwhite;
    font-family: "Trebuchet MS";
    margin: 0;
    padding-top: 0px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.navitem {
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
}

.navitem a {
    color: white;
    text-decoration: none;
    display: block;
    flex-grow: 1;
}

.navitem div {
    flex: 1;
    background-color: rgb(102, 51, 102);
    color: white;
    border: 2px solid rgb(81, 31, 81);
    margin: 1px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.navitem div:hover {
    background-color: rgb(81, 31, 81);
}

@media only screen and (max-width: 767px) {
    .navitem {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 2.5vmin;
    }

    .navitem a {
        color: white;
        text-decoration: none;
        flex-grow: 1;
    }

    .navitem div {
        flex: 1;
        box-sizing: border-box;
        height: auto;
    }

    .navitem div:hover {
        background-color: rgb(81, 31, 81);
    }
}

.content-box {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 80px;
}

.content-box div {
    width: 40%;
    background-color: ghostwhite;
    text-align: center;
    float: left;
}

.content-box div:nth-child(2) {
    width: 60%;
    text-align: justify;
    font-size: large;
}

@media only screen and (max-width: 767px) {
    .content-box {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 100px 20px;
        /*top and bottom paddings are 100px right and left paddings are 50px*/
    }

    .content-box div {
        width: 100%!important;
        max-width: 100%!important;
        margin: 0!important;
        float: none;
    }

    .content-box div:nth-child(2) {
        width: 100%;
        float: none;
    }
}

.main-img {
    width: 50%;
    height: auto;
    max-height: 50%;
    border-radius: 50% / 35%;
    object-fit: cover;
    overflow: hidden;
}

header {
    width: 100%;
    max-height: 20%;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

/*TODO fix mobile view of page names*/

.line {
    position: absolute;
    height: 2px;
    background-color: rgb(81, 31, 81);
    width: 0%;
    transition: width 1.5s ease;
}

.top-line {
    top: 20%;
    left: 38%;
}

.bottom-line {
    bottom: 70%;
    right: 37%;
}

.page-info {
    width: 100%;
    height: auto;
    text-align: center;
}

#page-name {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    color: rgb(81, 31, 81);
}

.timeline-wrapper {
    position: relative;
    padding-left: 100px;
}

.timeline-svg {
    position: absolute;
    left: 150px;
    top: 0;
    width: 20vw;
    height: 800vh;
}

.marker {
    position: relative;
    margin-bottom: 100px;
    margin-left: 250px;
}

.date {
    background-color: #D4AF37;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.pub-box {
    background-color: white;
    border: 2px solid #D4AF37;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    width: 65%;
    min-width: 300px;
    max-width: 2000px;
    
}

.pub-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}
